<!DOCTYPE html>
<html>
    
    {{> header}}
    
    <body>
        
        <h1>{{message}}</h1>
        
        <p>
            
            Some text
            
        </p>
        
        
      {{> footer}}
        
    </body>
    
    
</html>
